<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <h1>Primary Weapons</h1>

    <%= link_to '<div class="btn btn-primary">Refresh data from API</div>'.html_safe, action: 'fetch' %>

    <table class="table table-hover" >
      <tr class="active">
        <th>Name</th>
        <th>Mastery</th>
        <th>Type</th>
        <th>Trigger Type</th>
        <th>Ammo</th>
        <th>Noise</th>
        <th>Projectile Speed</th>
        <th>Fire Rate</th>
        <th>Accuracy</th>
        <th>Magazine Size</th>
        <th>Max Ammo</th>
        <th>Reload Time</th>
        <th>Impact</th>
        <th>Puncture</th>
        <th>Slash</th>
        <th>Crit Chance</th>
        <th>Crit Multiplier</th>
        <th>Status Chance</th>
      </tr>

      <% @primary_weapons.each do |weapon| %>

      <tr>
        <td><%= weapon.name %></td>
        <td><%= weapon.mastery %></td>
        <td><%= weapon.weapon_type %></td>
        <td><%= weapon.trigger_type %></td>
        <td><%= weapon.ammo_type %></td>
        <td><%= weapon.is_alarming ? 'Alarming' : 'Silent' %></td>
        <td><%= weapon.projectile_speed > 0 ? "#{weapon.projectile_speed.round(2)} m/s" : 'N/A' %></td>
        <td><%= weapon.fire_rate.round(2) %> rounds/s</td>
        <td><%= weapon.accuracy.round(2) %></td>
        <td><%= weapon.mag_size %></td>
        <td><%= weapon.max_ammo %></td>
        <td><%= weapon.reload_time.round(2) %></td>
        <td><%= weapon.impact_damage.nil? ? '' : weapon.impact_damage.round(2) %></td>
        <td><%= weapon.puncture_damage.nil? ? '' : weapon.puncture_damage.round(2) %></td>
        <td><%= weapon.slash_damage.nil? ? '' : weapon.slash_damage.round(2) %></td>
        <td><%= (weapon.crit_chance * 100).round(2) %>%</td>
        <td>x<%= weapon.crit_multiplier.round(2) %></td>
        <td><%= (weapon.status_chance * 100).round(2) %>%</td>
      </tr>

      <% end %>

    </table>
  </body>
</html>
